/.idea/*
/.vscode/*
/code/.idea/*
/code/__pycache__/*
*.class
!/*.py
/code/data/chinese_roberta_wwm_large_ext_L-24_H-1024_A-16.zip
/code/data/bert_config.json
/code/data/bert_model.ckpt.data-00000-of-00001
/code/data/bert_model.ckpt.index
/code/data/bert_model.ckpt.meta
/code/data/demo_dev.json
/code/data/demo_train.json
/code/data/dev.json
/code/data/test1.json
/code/data/train.json
/code/data/vocab.txt
/code/examples/datasets/*
/code/__pycache__/*
/result/*